<div class="bootstrap-wrapper">
    <div class="container text-center mt" >

        <div class="container text-center">

            <img class="img-fluid" style="width: 500px;" src="/assets/coffee.png" alt="" />
          </div>
        <h1 class="text-center">Welcome to Coffee Shop</h1>
        <a routerLink="/login" mat-raised-button color="accent">Login here !!</a>
        <button button routerLink="/entry" style="margin-left: 10px;" mat-raised-button color="warn">
            New User</button>
    </div>
</div>
