<div class="bootstrap-wrapper">

    <div class="container mt">

        <div class="row">

         <div class="col-md-6 offset-md-3">
          <div class="container text-center">

            <img class="img-fluid" style="width: 100px;" src="/assets/coffee.png" alt="" />
          </div>

            <h1 class="text-center">User Registration</h1>
            <!-- creating form -->

            <form (ngSubmit)="onSubmit()">

                <mat-form-field class="full-width" >
                <mat-label>Username</mat-label>
                <input 
                [(ngModel)]="credentials.username"
                name="username"
                 required type="text" matInput>
                </mat-form-field>

                <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input 
                [(ngModel)]="credentials.password"
                name="username"
                 required type="password"  autocomplete="on" matInput>
                </mat-form-field>

                 <mat-form-field class="full-width">
                <mat-label>Id</mat-label>
                <input 
                [(ngModel)]="credentials.id"
                name="username"
                 required type="text"   matInput>
                </mat-form-field>

               <mat-form-field class="full-width" >
                <mat-label>Email</mat-label>
                <input 
                [(ngModel)]="credentials.email"
                name="username"
                 required type="text" matInput>
                </mat-form-field>


                <div class="container text-center">

                    <button type="submit" mat-raised-button color="primary">
                        Submit</button>

                     <button style="margin-left: 10px;" type="reset" mat-raised-button color="accent">
                         Reset</button>

                </div>
            </form>

              <br />
            <p class="m1">{{credentials | json}}</p>
          </div>
        </div>
    </div>
</div>